<ol class="errors">
  <% @book.errors.full_messages.each do |error| %>
  <li>
    <%= error %>
  </li>
  <% end %>
</ol>

<%= form_for @book do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :pages %>
  <%= f.number_field :pages %>
  <br>
  <%= f.submit %>

<% end %>
